body {
	background-color: #202020;
}

h1 {
	color: #FFFFFF;
	position: absolute;
	font-family: 'Rock Salt', cursive;
	margin-top: -20px;
}

h1.nothome {
	position: absolute;
	margin-left: 33%;
	margin-top: 3em;
}

h2 {
	color: #FFFFFF;
	padding-top: 30px;
}

h3 {
	color: #FFFFFF;
	position: absolute;
	padding-top: 30px;
}

h3 .subtitle {
	position: relative;
	color: #FFFFFF;
	margin-top: 2em;
	text-decoration: underline;
}

h4 {
	color: #FFFFFF;
	padding-top: 40px;
}

.border {
	background-color: #FF6600;
	margin-top: 12em;
	padding-top: 2px;
	position: absolute;
	width: 100%;
	margin-left: 13em;
}

#myphoto {
	/*background-color: black;*/
	height: 300px;
	width: 300px;
	/*border-radius: 50%;*/
	text-align: center;
	border-spacing: 2px;
	position: absolute;
	margin-left: 40%;
	margin-top: 20%;
}

#photo {
	height: 200px;
	width: 200px;
	position: absolute;
	margin-top: 10px;
}

.wordlinks {
	font-family: 'Rock Salt', cursive;
}

a {
	color: #FF6600;
	/*position: absolute;*/
}

#contact {
	position: absolute;
	margin-left: 28%;
	margin-top: 16%;
}

#myprojects {
	position: absolute;
	margin-left: 23%;
	margin-top: 24%;
}

#blogs {
	position: absolute;
	margin-left: 23%;
	margin-top: 32%;
}

#aboutme {
	position: absolute;
	margin-left: 28%;
	margin-top: 41%;
}

#twitter {
	position: absolute;
	margin-left: 65%;
	margin-top: 15%;
}

#google {
	position: absolute;
	margin-left: 72%;
	margin-top: 23%;
}

#linkedin {
	position: absolute;
	margin-left: 72%;
	margin-top: 31%;
}

#github {
	position: absolute;
	margin-left: 65%;
	margin-top: 40%;
}

#bloglist {
	position: absolute;
	margin-top: 20em;
	margin-left: 36%;
}

li {
	font-size: 30px;
	padding-top: 20px;
}

.date {
	font-size: 14px;
	color: #FFFFFF;
}

#headerlinks {
	position: absolute;
	margin-left: 80%;
}

.post {
	color: #FFFFFF;
}

article {
	position: absolute;
	margin: 14em;
}

.picture {
	position relative;
	margin-top: 2em;
	margin-left: 30%;
	margin-bottom: 2em;
}