/* include your css here */
body {
     font-family: courier;   
}

h1{
    background-color: blue;
    margin-bottom: -16px;
}

header p{
    background-color: gray;
}

.column-1 {
		background-color: yellow;
    width: 43%;
    display: inline-block;
    vertical-align: text-top;
    padding-left: 10px;
}

.column-2 {
		background-color: red;
    width: 43%;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 5px;
    padding-left: 10px;
}

.column-2 article {
    margin-bottom: 20px;
}

code {
    border-bottom: 1px solid;
}

footer{
    background-color: green;
    margin-top: 16px;
}